

<section id="feature" class="container-fluid">
    <div class="row">        
      <div class="col-md-12">
        <ui-gmap-google-map id="map" center='map.center' zoom='map.zoom'>           
            <div ng-repeat="m in markers">        
                 <ui-gmap-marker coords="m.coords" options="m.options" idkey="m.id" icon="m.icon">
                    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                        <div>{{m.title}}</div>
                    </ui-gmap-window>
                </ui-gmap-marker>                
            </div>       
        </ui-gmap-google-map>

       </div>
    </div>
</section>
<section id="aboutUs" class="container animated fadeInUp">
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="loading" ng-show="loading"><span class="ion-load-a glyphicon-refresh-animate"></span> 
            <h4>Loading location...</h4>
        </div>       
        <h2>Featured Deals</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3 coupon animated fadeInLeft" data-wow-delay="0.2s" ng-repeat="coupon in coupons">
          <div>
                <h3 class="text-center">{{coupon.desc}}</h3>
          </div>
      </div>


</section>


